<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <CustomFileAppender name="FileAppender" fileName="your-log-file.log">
        </CustomFileAppender>
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <MarkerFilter marker="MyMarker"/>
            </Filters>
            <CustomLayout/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>