<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Meal</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container py-3">
    <h3>Create Category</h3>
    <form action="#" th:object="${category}" th:action="@{/categories}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" th:field="*{price}" class="form-control" id="price" required>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" th:field="*{amount}" class="form-control" id="amount" required>
        </div>
        <div class="form-group">
            <label for="categoryId">Category ID</label>
            <input type="text" th:field="*{categoryId}" class="form-control" id="categoryId" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
