<!DOCTYPE html>
<html th:extends="base" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">

    <link rel="icon" th:href="@{/images/favicon.ico}"/>

    <title>Home</title>
</head>

<body>
<div th:insert="navbar :: navbar">  </div>

<h1>Welcome to Spring Бутери!</h1>
<p>
    Ресторан "Spring Бутери" – це місце, де навіть кава вам посміхається з круасанами. Зустрічайте смачну гармонію сезонних страв, які розцвітають як весня квітка під теплим сонцем.

    Наші офіціанти - справжні феї-бариста, які здатні зіграти симфонію ароматів, коли вони наливають вашу каву. Аромат м'який як перше дихання весни, а смак - такий, ніби сама природа вирішила завітати до вашого кубка.

    Меню ресторану "Spring Бутери" поділене на сезони, тож ви завжди будете смакувати тільки свіже та унікальне. З салатів, які казково ростуть прямо перед вами, до основних страв, які так смачно, що ви забудете навіть як правильно вимовити "голод".

    Десерти у нас - це справжнє мистецтво. Торти та пироги, приготовані з любов'ю, розчиняються у роті, неначе краплинки роси на свіжому травичці.

    Отже, якщо ви шукаєте не просто ресторан, а справжню оазу смаку та весняного настрою, ласкаво просимо до "Spring Бутери". Тут весна не лише в назві, але і в кожному шматочку їжі!
</p>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>